/* Styles for the .Button class */
.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

/* Hover effect for .Button */
.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

/* Active state for .Button when hovered */
.Button:hover:active {
  background-color: #2142b2 !important;
}

/* Active state for .Button */
.Button:active {
  background-color: #2142b2 !important;
}

/* Focus state for .Button */
.Button:focus {
  background-color: #2142b2;
}

/* Wide variant of the .Button */
.Wide {
  padding: 10px 50px;
  width: 100%;
}

/* Styles for .Button with blue background */
.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #e3b8e1;
  color: #000000;
}

/* Styles for .Button with blue outline */
.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #2142b2;
}

/* Styles for .Button with black background */
.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: aliceblue;
}

/* Styles for .Button with black outline */
.Black:hover,
.BlackOutline {
  background-color: aliceblue;
  color: #242a3d;
}

/* Styles for .Button with bright background */
.Bright {
  background-color: #68cec6;
  color: #000000;
}

/* Styles for filter button */
.Filterbutton {
  background-color: #e3b8e1;
  color: #000000;
}