.Post {
  border: 1px solid #68CEC6;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Content {

  border: 2px solid #68CEC6;
  margin: 2px;
  padding: 5px;
}

.createdAt {
  font-size: small;
}

.bold {
  font-weight: 800;
}

.PostBar {
  margin-left: 50px;
}