/* Styles for the Form class */
.Form {
    border: none;
    border-bottom: 2px #e7df00 solid;
}

/* Styles for the Checkbox input */
.Checkbox input {
    width: 15px;
    height: 15px;
}

/* Styles for the Button class */
.Button {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}
  
/* Hover styles for the Button class */
.Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
}