* {
  box-sizing: border-box;
}

.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dnjxdpdic/image/upload/v1713355023/background_e93knd.png');

  background-position: center;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 20vh;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
  vertical-align: middle;
}

a:hover {
  text-decoration: none;
  color: #68CEC6;
}

a:hover i {
  color: #68CEC6;
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  font-size: 1.3rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #68CEC6;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}