/* Universal box-sizing */
* {
  box-sizing: border-box;
}

/* Styles for the App class */
.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dnjxdpdic/image/upload/v1713355023/background_e93knd.png');

  background-position: center;
}

/* Styles for the Main class */
.Main {
  padding-top: 81px;
}

/* Styles for the Content class */
.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

/* Styles for the FillerImage class */
.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Styles for the Image class */
.Image {
  max-height: 20vh;
  max-width: 100%;
  object-fit: cover;
}

/* Styles for anchor tags */
a {
  color: #555555;
  transition: color ease-in-out 0.3s;
  vertical-align: middle;
}

/* Styles for anchor tags on hover */
a:hover {
  text-decoration: none;
  color: #68CEC6;
}

/* Styles for anchor tags' child icons on hover */
a:hover i {
  color: #68CEC6;
  transition: color ease-in-out 0.3s;
}

/* Styles for icons */
i {
  color: #cfced3;
  font-size: 1.3rem;
  padding: 7px;
  vertical-align: middle;
}

/* Styles for icons on hover */
i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #68CEC6;
}

/* Styles for figures */
figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Styles for visually hidden elements */
.VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}